body{
    font-family: 'Montserrat', sans-serif;
}
.title{
    text-align: center;
    margin: 120px auto 0;
    color: #313131;
    font-weight: 600;
}
.quote-box{
    background: #fff;
    margin: 100px 300px;
    width: 314px;
    text-align: center;
    padding: 7px 7px 60px;
    line-height: 1.6;
    word-spacing: 3px;
    font-size: 20px;
    font-family: 'Exo 2', sans-serif;
    font-weight: 600;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
}
.quote-box:hover{
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
#quote{
    margin: 0;
    height: 350px;
    /* background: url('images/Bolu.JPG'); */
    background-repeat: no-repeat;
    background-size: cover;
}
.note{
    text-align: center;
}
#btn{
    padding: 15px 50px;
    border: none;
    outline: none;
    color: #000;
    font-weight: 600;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}
#btn:hover{
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
@media screen and (max-width: 800px){
    #quote{
        height: 350px;
    }
    .quote-box{
        margin: 70px auto;
    }
}